@media(max-width 1280px)
    .header .main-header--right__cart-open
      top: 0;
      right: 0;
      margin-right: 20px;
      margin-top: 20px;


    .contacts-page
      .contacts__info
        width: 100%
        &-item
          .info-item__icon
            margin-right: 25px
    .header

      .up-line
        .container
          max-width 100%
          width 100%
          padding 0 65px
      .main-header
        padding: 0
        .container
          max-width 100%
          width 100%
          padding 30px 65px
    .main
      &__sale
        width: 100%
      &__initial-screen
        padding: 17% 0;
        align-items center
        .initial-screen
          &--decor
            right 5%
      &__advantages
        .container
          padding: 18% 0 11%;
          width 100%
      &__updates-catalogue,
      &__all-catalogue
        padding 0

    .order
      &__info-detail
        flex-wrap wrap

    #button-up
        right 2%
@media(max-width 1240px)
  .category
    .category-page
      width: 100%
@media(max-width 1170px)

  .order__info-detail p
    max-width: 100%;
    margin-top: 10px;
  .article-category-news
    width: 44%;
  .header
    .main-header--left
      .logotype
        span
          display: none;
@media(max-width 1110px)
  .main__smart-search

    form.flex
      input[type='text']
        width: 62%
  .main
    .box-goods
      justify-content: center;
    .sub-cat
      .box-goods
        justify-content: left;
    &__updates-catalogue
      .goods-wallpaper
          &:nth-child(7),&:nth-child(8)
              display none
    &__all-catalogue
      .goods-wallpaper
          &:last-child
              display none
@media(max-width 1200px)
  .product-content__info
    margin-bottom: 30px;
  .product-content__info .product-info ul:first-child span

    margin-right: 15vw

@media(max-width 1126px)
  .product-content__info .product-info ul:first-child span
      margin-right: 10vw
  .product-content__buy label
    margin-bottom: 15px

@media(max-width 1100px)

  .head-box_left-side
    width: 100%;
    margin-bottom: 25px;
  .order,.article,.category-news
    .head-box_left-side
      margin-bottom: 0
  .category
    .category-page__head-box.flex
      .category_sale
        margin: 20px 0 0 auto;
  .container
    width 100%
    padding: 0 25px
  .main__smart-search
    h2
      width: 100%
      margin-bottom: 40px;
    form.flex
      justify-content: center;
      width: 100%;
      position: relative;
      right 30px
      input[type='text']
        width: 500px;

@media(max-width 1080px)
    .footer-left-list
      margin-right: 30px
    .product-content__info .product-info ul:first-child span
        margin-right: 8vw
    .product-content__img
      width 26vw;
    .select-box
      &.select--materials
        width 270px
      &.select--colors
        width 205px


@media(max-width 1024px)


    .article-category-news .flex
      flex-wrap: wrap;
    .article-category-news img
      width: 100%;
      height: 300px;

      margin-bottom: 20px;
    .product-content__img .product-content__mini-img
      width: 97% !important;
      height: 75px !important;
    .product-content__img .slider-nav
      margin-top: 5px;
    .category .category-page__content .content-sort
      justify-content: space-between;
      padding: 12px 30px;
      height auto
      span
        display: none
      .sort-item
        margin:  10px;
    .product-content__info
      width: calc(100% - 30vw - 25px)
      padding-left: 25px

    .product-content__img
      width 30vw;
      height max-content
    .product-content__info .product-info ul:first-child span
      margin-right: 6vw
    .product-content__info .product-info:last-child
      margin-left: 0px;


    .main
      &__initial-screen

        .form-wallpaper
          .sexy-select
            padding: 0px 15px;

          .select--figures
            width 235px

      &__updates-catalogue h2
          margin 120px 0 55px
      &__sale
        width 1000px
        .sale
            width 960px
            padding 50px 45px
            &__big-roller
              top -20px
              right 59%
            &__roller
                left 224px
                bottom -79px


      .main__last-news
       background #f9f9f9

      &__advantages

        display flex
        align-items center
      &__seo-text
        .seo-text--right
          width 440px
          .text-mail-field
              width 176px

  .main__initial-screen .form-wallpaper__select
    &:before
        left: 15px;
    &:after
        right 15px
   .main__initial-screen
     .form-wallpaper__select
       &:hover
         z-index: 999;
       select
        padding: 21px 0 21px 45px;




@media(max-width 1000px)
  .product-content__info .product-info ul:first-child span
      margin-right: 40px

  .main__initial-screen .form-wallpaper
    .button
      margin: 5px auto 0;
    .wrap
      margin-top: 20px;
      width: 100%;
      text-align: center;
      order: 2;
      a
        margin-right: 0;
  .main__seo-text .container
    justify-content: center;
  .main__smart-search
    form
      input[type='text']
        width: calc(100% - 200px)

@media(min-width 1024px) and (max-width 1279px)
  .product-content__info .product-info:last-child
    margin-left: 0px;



@media(max-width 990px)
  .product-content__img
    width: 26vw;

  .product-content__info
    width: calc(100% - 26vw - 25px);

@media(max-width 950px)
    .footer-right-list
      max-width:  188px;
    .down-footer
      span
        i
          display: none;
    .footer-left-list
      min-width: 80px;
      margin-right: 30px;
      &:nth-child(1),&:nth-child(2)
        min-width: 60px;
      &:last-child
        margin-right: 0
    .product-content__img
      width: 100%
    .product-content__info

      width: 100%;
      padding-left: 0;
    .article-category-news
      width: 45%;
    .category .category-page__head-box.flex .category_sale
      margin: 20px 0 0 auto;
    .main .main-cat .box-goods,.main  .sub-cat .box-goods
      justify-content: center
    .main-cat .category-page__aside form
      background: #fff;
      width: 360px;
      margin: auto;
      padding: 40px;
      position: relative;
      z-index: 1;
      top: 50px;
    .main-cat .category-page__content
      width: 100%;
      margin-left: 0;
    .main-cat .category-page
      padding: 65px 45px;
    .main-cat .category-page__aside
      width: 100%!important
      .button-filtr,.button-filtr-close
        cursor: pointer;
        background: $color-fiolet-govna
        width: 100%;

        text-align: center;
        color: #fff;
        padding: 15px 0;
        margin-bottom: 20px
        font-size: 23px
        display: block;
      .modal-filtr
        position: absolute;
        background: #0000004d;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -99;
        opacity: 0
        transition: .55s
        &.active
          opacity: 1
          z-index: 99;
@media(max-width 950px)
    .product-content__img .product-content__big-img::before
      display none
    .header
      .main-header
        &.fixed
          position absolute
          .main-header--right__search.active
            .icon
              fill #fff
          .menu__item a
            color: #fff

    .header .main-header .mobile-menu
      display: block;
      position: relative;

      background: 0;

    .header .main-header .menu
      .menu__item
        margin: 15px ;
        a
          font-size: 19px
      position: fixed;
      background: $color-fiolet-govna
      z-index: 999999;
      display: flex;
      width: 86%;
      left: 0;
      bottom: -800px;
      text-align: left;
      right: 0;
      margin: auto;
      padding:  50px;
      box-shadow: 0 0 150px rgba(0,0,0,.2)
      border-radius: 25px 25px 0 0;
      transition: .55s
      &.active
        bottom: 0
    .category
      &.main-cat,&.sub-cat
        .category-page
          padding: 65px 40px
      .category-page
        padding: 65px 40px
    .product-content__info .product-info ul:first-child span

      margin-right: 35vw;
    .product-content__img
      width 100%
      height max-content
    .product-content__buy label

      margin-bottom: 0px;
@media(max-width 850px)
  .product-content__info .product-info ul:first-child span
    margin-right: 30vw;
@media(max-width 800px)
  .product-content__info .product-info ul:first-child span
    margin-right: 27vw;
  .article-category-news
    width: 42%;
  .main__advantages
      .advantage
          width: 100%;
          margin: 20px 0;
      .container
          padding: 20% 0 10%;
@media(max-width 767px)
  .footer__left-aside
    width: 50%
  .product-content__info .product-info ul:first-child span
    margin-right: 24vw;
@media(max-width 665px)
  .main__initial-screen
    max-height: max-content
  .order-form__block-fild
    h3
      &:nth-child(1)
          margin-bottom: 15px;
@media(max-width 487px)
  .order-result
    margin-bottom: 20px;
@media(max-width 724px)
  .order,.article, .category-news
    .category .category-page__head-box
      margin-bottom: 46px
  .product-content__info .product-info ul:first-child span
    margin-right: 50vw;
  .goods-wallpaper
          &:nth-child(5),&:nth-child(6)
              display none
  .article-category-news
    width: 100%;
  .category
    .category-page__head-box
      margin-bottom: 0px;
  .main__smart-search
    margin: 11% 0 0;
    form
      flex-wrap: wrap;
      right: auto;
      input[type='text']
        width: 100%;
        right: auto;
        text-align: center;

      input[type='submit']
        margin-top: 30px;
  .order-form__two-blocks .order-form__block-fild.flex
    flex-wrap: wrap;
  .order-form__two-blocks .order-form__block-fild
    width: 100%;
  .order-form__two-blocks .order-form__block-fild:first-child input,.order-form__two-blocks .order-form__block-fild:last-child input
    max-width: 465px;
  .order-form__two-blocks .order-form__block-fild:last-child

    margin-left: 0px;
  .price-radio-button label
    margin: 5px 0
  .order-form--right .all-order
    width: 100%
    height max-content
  .category .category-page__head-box.flex .category_sale
    line-height: 26px;
    max-height 100%
    &:before
      display: none
    &:after
      height: 107%;
  .category
    &.main-cat
      .category-page__aside
        order: 1
    .category-page__aside
      order: 2

  .product-content__img
    width: 80vw
  .category .category-page__content
    order: 1;
    width: 100%;
    margin-left: 0;
  .category .category-page__aside
    display flex
    width: 100%;
    margin-top: 35px;
  .product-advantages
    margin-top: 0;
    margin-left: 25px;
    width: 50%
  .category-aside-nav.subcategory
    width 50%
@media(max-width 600px)
  .product-content__info .product-info ul:first-child span
    margin-right: 30vw;
  #order-modal .order-modal__img
    padding: 10%;
    display: flex;
    justify-content: center;
  #order-modal .order-modal__info
    padding: 40px
  .order-form--right
    .all-order
      padding: 36px 15px;
    .all-order .cart-product .cart-product__img
      margin-bottom: 10px

    .order-form__block-fild h3
      margin-bottom: 10px;
  .main__advantages
      .container
          padding: 30% 0 10%;
  .category .category-page__aside
    flex-wrap: wrap;
  .product-advantages
    margin-top: 40px;
    margin-left: 0px;
    width 100%
  .category-aside-nav.subcategory
    width 100%
@media(max-width 550px)
  .order-form--right .all-order .cart-product .cart-product__img, .order-form--right .order-form__block-fild h3
    margin-bottom: 0px;
  .all-order .cart-product .cart-product__info
    margin: 0 10px;
  .all-order .cart-product .cart-product__img
    width: 45px;
    height: 45px;
@media(max-width 520px)
  .all-order .cart-product .cart-product__img
    display none
  .all-order .cart-product .cart-product__info
    margin: 0 10px 0 0;
@media(max-width 465px)
  .all-order .cart-product .cart-product__price
    display: none;
  .all-order .cart-product .icon-close
    margin-left: 10px;
@media(max-width 440px)
  .footer__left-aside
    width: 100%
  .product-content__buy
    label
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px
    button
      width 100%


@media(min-width 690px) and (max-width 1000px)
    .main__initial-screen
      padding: 23% 0 13%
      .initial-screen--decor
          right: 10px;
          top: 250px;
      .container
          width: 50%;
          padding: 0 65px;
      .form-wallpaper__select
        &:nth-child(1),&:nth-child(2)
          width: 40%;


        &:nth-child(3),&:nth-child(4)
          width: 35%;

        .select--materials,.select--prices,.select--colors,.select--figures
          width: 100%;

    .header .main-header--left .logotype span ,
    .sale__big-roller,.sale__part-number
        display none

    .main__sale
        width: 740px;


    .main__all-catalogue
        .goods-wallpaper
            &:nth-child(1)
                display none
    .header .main-header--left .menu__item
        margin 0 10px
    .main__updates-catalogue hr
        margin: 90px 0 0
    .main__initial-screen h1
        padding 0 11%
        line-height 48px
    .main__sale .sale__roller
        left: 308px;
    .main__sale
        .sale
            width: 698px


    .main__seo-text .seo-text--left
        max-width: 100%;
        width: 100%;
    .main__seo-text .seo-text--right
        max-width: 100%;

    .main__initial-screen

        .form-wallpaper__select

                margin-bottom 20px
                select
                    padding 21px 0 21px 45px
                &:before
                    left: 15px
                &:after
                    top 22px
                    right 15px

@media(min-width 480px) and (max-width 800px)
  .main__initial-screen
    padding: 25% 0 15%
    .container
        width: 50%;
        padding: 0 65px;

    .form-wallpaper__select
      &:nth-child(1)
        width 280px
      &:nth-child(2)
        width: 235px
      &:nth-child(3)
        width: 210px
      &:nth-child(4)
        width: 235px



@media(min-width 460px) and (max-width 689px)
    .header .main-header--left .logotype span,
    .sale__big-roller,
    .initial-screen--decor,
    .main__initial-screen h1 span
        display none
    .header .main-header .mobile-menu
      background: 0
    .select-box
      margin 10px 0
    .main__seo-text
      .seo-text--left
        max-width 100%
        width 100%
      .seo-text--right
        max-width 100%
    .main__initial-screen
       h1
          margin-bottom: 25px
          font-size 36px
          line-height 48px
          &:first-letter
              text-transform uppercase

      .form-wallpaper
        .button
          margin-top: 20px
    .main__all-catalogue
        .goods-wallpaper
            &:nth-child(1)
                display none

    .main
      &__updates-catalogue h2
        margin: 50px 0 55px;
        font-size 36px
        font-weight 300
        line-height 48px
      &__updates-catalogue hr
        margin: 20px 0 0;
      &__sale
        width: 460px;
        .sale
            width: 420px;
            padding: 50px 15px;
        .button
            margin: 0 auto;
            display: block;
        .sale__roller
            left: 160px;
            bottom: -105px;

    .main__last-news .article-news
        width: 440px;
    .main__last-news .article-news-link
      width 100%
    .main__last-news .article-news h3
        width: 270px;
        height: 20px;
        overflow hidden
    .main__updates-catalogue .flex, .main__all-catalogue .flex
        margin-right: -10px;
        position: relative;
    .header .up-line--adress__item:not(:last-child), .header .up-line--info__item:not(:last-child)
        line-height: 8px;
    .main__updates-catalogue .goods-wallpaper, .main__all-catalogue .goods-wallpaper
        margin: 0 10px 30px 0;

    .main__initial-screen .form-wallpaper.flex
        width: auto;
        margin: 0 auto;
    .select-box.select--colors
        width: auto;

@media(max-width 665px)
  .header
    .main-header--right__search.active
      input
        opacity: 0
        visibility: hidden;
      &:hover,&:active
        .icon
          fill: #333;
        input
          opacity 1
          visibility: visible
          background: #fff;
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          color: #333;
  .main__initial-screen
      .form-wallpaper__select
        &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4)
            width: 280px;
        .select--materials,.select--prices,.select--colors,.select--figures
          width: 100%;
          .icon
            &.icon-right-arrow
              position: absolute;
              right: 15px;
              margin-right: 0;
@media(max-width 580px)
  .main__initial-screen .container
    width: 50%;
    padding: 0 65px;
  .footer-left-list_item
    span
      display: none;
  .down-footer a, .down-footer span
    text-align: center;
    margin: 5px
  .footer .container
    justify-content: center;
  .footer-right-list_item
    text-align: center;
  .footer__left-aside
    width: 83%
    margin-bottom: 40px
  .footer-left-list
    &:nth-child(1)
      order: 0
    &:nth-child(2)
      order: 3
    &:nth-child(3)
      order: 2
    &:nth-child(4)
      order: 4
  .main__advantages::before

      left: -50%;
      display: block;
      width: 200%;
      height: 200px;
      margin-top: -150px;
  .main__initial-screen
    padding: 30% 0 17%;

  .up-line--info
    display none

  .header
    .up-line
      .container
        padding: 0 25px;
    .up-line--adress
        width: 100%;
        &__item
          &:not(:last-child)
              border-right: 0;
          &:not(:last-child) span
              border-left: 1px solid #fff;
              padding-left: 10px;
          &:first-child
              &:before
                  content 'Oboi.LIfe'
                  font-size: 0.625em;
                  color: #fff;
                  margin-right 10px
                  margin-top: 3px;

@media(min-width 320px) and (max-width 460px),(max-width 320px)

    .up-line--info,
    .seo-text--right,
    .main__sale .sale__roller,
    .owl-prev,
    .owl-next,
    .main h2.left span,
    .main__last-news .article-news__date,
    .header .main-header--left .logotype,
    .main__initial-screen .initial-screen--decor,
    .main__initial-screen h1 span,
    .sale__big-roller,
    .sale__part-number
        display none
    .header .main-header--right__mobile-hamburger,
    .header .main-header .mobile-menu
        display block
    .main__last-news .article-news-link
      width 100%
    .main__sale .sale
      padding: 27px 5px;
      .button
        display: block;
        margin: 0 auto;
    .select-box
      margin: 10px 0;
    .header .main-header--right__search
      position: absolute;
      left: 0;


    .header .main-header--right__search:hover input,.header .main-header--right__search.active input
      width: 263px;
      padding-left: 50px;
      transform: translateX(-10px);

    .header
      .main-header
        .container
          padding: 30px 25px;
        .mobile-menu
          margin-left: 29vw;
      .main-header--right__search
        &.active
            transform: translateX(20px)
        input
          right: auto;
          left 5



    .main__seo-text .seo-text--left
        max-width: 100%;
        width: 100%;
    .main__seo-text .seo-text--right
        max-width: 100%;


    .main__initial-screen
      left: -150%;
      width: 400%;
      .container
          width 31%
      h1
        padding: 0 16%;
        font-size: 36px;
        line-height: 48px;
        margin: 60px 0 10px;
        &:first-letter
            text-transform uppercase
    .main__updates-catalogue .goods-wallpaper, .main__all-catalogue .goods-wallpaper
        width: 280px;

    .main__advantages

        .advantage
            width: 100%;
            margin: 20px 0;



    .main h2
        line-height: 48px;
        margin: 40px 0 30px;
        font-weight: 300;
    .main .all-order h2
      margin 0 0 30px
    .main h2.left
        text-align center
        &:first-letter
            text-transform uppercase
    .main .button
        padding: 20px 40px;

    .main__last-news .article-news h3
        width: 196px;
        overflow: hidden;
        height: 19px;
    .main__sale
        padding: 10px 0;
        width: 320px;
    .main__sale .sale
        background: 0;
        width: 320px;
    .main__sale .sale__border-box
        padding: 22px 20px;

    .product-content__info .product-info ul:first-child span
      margin-right: 19vw;
    .main-cat .category-page__aside form
      width: 100%;
    .main__last-news
      height max-content
      padding-bottom: 50px
      padding-top 0

    .main__initial-screen .form-wallpaper .select--figures,.main__initial-screen .form-wallpaper .select--prices
      width: 100%;

@media(max-width 410px)
  .header .main-header--right__cart-open
    margin-right: 0px;
    margin-top: 20px;
    padding 30px 0 0 15px
@media(max-width 400px)
  .all-order::before
      left: -34px;
      width: 130%;
  .order-form--right .all-order
    width: 128%;
    left: -35px;
  .all-order .cart-product .cart-product__img
    display: block;
    margin-right: 10px
  .header .main-header--right__cart-open
    width: 100%
  .order-form--right
    .all-order
      position: relative;


      border 0

    .cart-product
      padding: 6px;
  .header .main-header .mobile-menu
    margin-left: 26vw;
  .contacts-page
    .contacts__info-item
      .flex
        justify-content: center;
      .info-item__icon
        margin-right: 0;
      .info-item__info
        width: 100%;
        text-align: center;
@media(max-width 360px)
  .main__initial-screen .container
    width: 25%;
    padding: 0 20px;
  .header .main-header .mobile-menu
    margin-left: 23vw;
  .all-order .cart-product .cart-product__img
    display: none
  .main__initial-screen h1

    padding: 0 9%;
@media(max-width 340px)
  .cart-product__img
      width: 30px;
      height: 30px;
