.contacts__info-item
  margin: 20px 0
  .info-item__icon
      width: 84px;
      height: 84px;
      border-radius: 100px;
      border: 2px solid #f29b90;
      background-color: #ffffff;
      margin-right: 45px
  .info-item__info
      color: #2d3e50;
      font-family: "PT Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      width: calc(100% - 84px - 45px)
      a
        color: #f29b90;
        text-decoration: underline;
      h6
        font-weight: 700;
.contacts__info
  width: calc(100% - 620px)
.contacts__map
  width: 620px;
  height: 292px;
  background-color: #f8f8f8;
