.footer
    padding: 55px 0 34px
    background #333333
    .container
      justify-content: space-between;
.footer-left-list
  min-width: 100px
  margin-right: 50px
  &_item
    margin: 7px 0
    a
      color: #ffffff;
      font-size: 14px;
      line-height: 22px;
      border-bottom: 1px solid transparent
      transition: .33s
      &:hover
        border-bottom: 1px solid #fff

.footer-right-list
  min-width: 100px

  &_item
    margin: 7px 0
    text-align: right;
    a
      color: #ffffff;
      font-size: 14px;
      line-height: 22px;
      border-bottom: 1px solid transparent
      transition: .33s
      &:hover
        border-bottom: 1px solid #fff
  .item--tel
      font-size: 18px
      span
        color: #e35572

.down-footer
  margin-top: 50px
  a:hover
    transform: scale(1.11);
  span,a
    color: #787878;
    font-size: 14px;
    transition: .55s
    i
      font-style normal
    span
      color: #e35572;
      font-weight: 700;
