&__seo-text
    padding 80px 0 
    .container
        align-items center
        justify-content: space-between;

    .seo-text
        &--left
            max-width 50%
            width: 560px;
            h2
                margin: 0 0 20px;
            p
                color #333333
                font-family "PT Sans"
                font-weight 400
                line-height 28px
                margin-bottom 20px
        &--right
            max-width 50%
            width 480px
            border 1px solid #bfbfbf
            padding 60px 30px
            position relative
            &:after
                content ''
                background $bg-repeat
                position absolute
                width 100%
                height 100%
                right 10px
                top 10px
                z-index -1
            h4
                color #333333
                font-size 24px
                font-weight 300
                text-align center
            p
                color #333333
                font-family "PT Sans"
                font-weight 400
                line-height 28px
                text-align center
                max-width 400px
                margin 20px auto
            form
              display flex
            .text-mail-field
                box-shadow inset 0 0 5px rgba(0, 0, 0, 0.2)
                border-radius 32px 0 0 32px
                padding 20px 0 20px 30px
                left 22px
                position relative
                width 220px
            .button--mail
                position relative
                right 22px
                padding 20px 60px 20px 45px
                padding 0
                width 200px
