*
    margin 0
    padding 0
    font-size 100%
    box-sizing border-box
h1,h2,h3,h4,h5,h6
    font-weight normal
a
    text-decoration none
ul
    list-style none
body
    font-family 'Gotham Pro'
button,input[type='submit']

    cursor pointer
input,button,select
    border: 1px solid transparent;
    &:focus
        outline none
img
  width 100%
