.cart-message
  .container
    p Отлично! Grandeco Textured Plains TP добавлен в 
      a(href='#') вашу корзину
    +icon('close')
footer.footer
  .container.flex
    .footer__left-aside.flex
      ul.footer-left-list
        li.footer-left-list_item 
          a(href='#') Обои
        li.footer-left-list_item 
          a(href='#') Фрески
        li.footer-left-list_item 
          a(href='#') Декор
      ul.footer-left-list
        li.footer-left-list_item 
          a(href='#') Клей 
        li.footer-left-list_item 
          a(href='#') Плитка
        li.footer-left-list_item 
          a(href='#') Пол
      ul.footer-left-list
        li.footer-left-list_item 
          a(href='#') О нас
        li.footer-left-list_item 
          a(href='#') Контакты
        li.footer-left-list_item 
          a(href='#') Партнерам
      ul.footer-left-list
        li.footer-left-list_item 
          a(href='#') Доставка и оплата
        li.footer-left-list_item 
          a(href='#') Политика конф
            span иденциальности
        li.footer-left-list_item 
          a(href='#') Новости
    .footer__right-aside
      ul.footer-right-list
        li.footer-right-list_item
          a(href='tel: 88000000000').item--tel 
            span 8 (800) 
            |000-00-00
        li.footer-right-list_item
          a(href='#') СПБ, Дворцовая пл., д. 12, офис 314
        li.footer-right-list_item
          a(href='mailto:info@oboi.life') info@oboi.life
  .container.down-footer.flex
    span 2018 г. Копирование материалов сайта 
      i только 
      |с 
      i письменного 
      |разрешения владельца 
    a(href='https://pixelaria.ru/#about-us' target='_blank') Разработано в 
      span Pixelaria    
button#button-up    
  +icon('right-arrow')

script(src='js/lib.js')
