.main__advantages
    mixin advantage
        .advantage
            .advantage__img.flex
              +icon('figures')
            h4 Более 2000 обоев 
            p В нашем ассортименте обои мировых производителей 
    .container.flex
        +advantage
        +advantage
        +advantage
